# Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

bucket         = "<operator-state-bucket>"
key            = "<operator-state-key>"
region         = "<operator-state-region>"
encrypt        = true
use_lockfile   = true
